<style id="installedBuiltInCss_css" type="text/css">#installedBuiltInCss .role-qin{
    color:#800080; /* 紫色 */
}
#installedBuiltInCss .role-he{
    color:#FF0000; /* 红色 */
}



/* --- 基础容器 (4:3 横向) --- */
#installedBuiltInCss .zombie-img {
    width: 240px; height: 180px;
    border: 2px solid #4a4a4a; border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    background-color: #e0e0e0;
    background-size: cover; background-position: center; background-repeat: no-repeat;
    display: inline-block; margin: 5px;
}

/* --- 小僵尸图库 (zom-s-) --- */
#installedBuiltInCss .zom-s-sleep { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFw8ZpDcTLSZPX61mJdSpHWaXwt0hndwACAx8AAqr0cVQ3-O6JQTLJFjYE.png'); }
#installedBuiltInCss .zom-s-berserk { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFkzhpDOt8O4sN_woPVUpNDz63fjtp1QAC3TIAAie1aVRgGHVk9zw5LDYE.png'); }
#installedBuiltInCss .zom-s-normal { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_B9pMUwWGv57e8hccQ4QxzLUzrR18QACuCAAAiYIiVUyZ7bIQ1AZbjYE.png'); }
#installedBuiltInCss .zom-s-happy { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFlRtpDPFsxkAWYXEpO5t54AJLQvDCLAACxDQAAie1aVTcY9VaRE0BfzYE.png'); }
#installedBuiltInCss .zom-s-shy { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_CBpMUwXQY01PuJUMRbSD8ifb-l3XQACuSAAAiYIiVWdHIv1gffU3jYE.png'); }
#installedBuiltInCss .zom-s-pout { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFlQ9pDPE5e6ZJwlqx5qf4dCeOdCufwgACuDQAAie1aVTm2_UlzjURNTYE.png'); }
#installedBuiltInCss .zom-s-mock { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFlQ5pDPE0hldgGKrlLjvKLhM8-191WAACtzQAAie1aVR0KexEit5cmDYE.png'); }
#installedBuiltInCss .zom-s-angry { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFlLtpDPA7239bqAx65MG03IUklavSxQACZDQAAie1aVQYVn-XfOcWrTYE.png'); }
#installedBuiltInCss .zom-s-tongue { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFlLppDPA7Z1xQE4qZYZGu3ZJ_W3_RwQACYzQAAie1aVSegpJtxHmCPTYE.png'); }
#installedBuiltInCss .zom-s-orgasm { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_CFpMUwXnhO5Ugrm9XlJoNx_37WADQACuiAAAiYIiVWjJrQGnh0IiTYE.png'); }
#installedBuiltInCss .zom-s-cumshot { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_CRpMUweTNY0vkg9Qa8s1fRjksQIegACvSAAAiYIiVWh4aM7581qWDYE.png'); }
#installedBuiltInCss .zom-s-afterglow { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_CNpMUwe4IIXGlTE254sPf-NMa_nPwACvCAAAiYIiVX8rFRC-9BNCTYE.png'); }
#installedBuiltInCss .zom-s-smirk { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_CJpMUwXLrl3XbccN6NKZ0Ou7v03egACuyAAAiYIiVW4wTqAEgABu542BA.png'); }
#installedBuiltInCss .zom-s-disgust { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_CVpMUweDy4onvfltz4lqQWmrBhYdQACviAAAiYIiVX4GqX4RUmrgzYE.png'); }

/* --- 大僵尸图库 (zom-b-) --- */
#installedBuiltInCss .zom-b-sleep { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFw6FpDcOOLGqCyeO_eTh6xiRDldYjEQAC2h4AAqr0cVR8b9wUBObv6DYE.png'); }
#installedBuiltInCss .zom-b-berserk { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFkudpDOqLa1DiTAABr8ZOlO1RYo_D6XYAAooyAAIntWlUTQ2hEB7f_rA2BA.png'); }
#installedBuiltInCss .zom-b-normal { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL-_9pMUt3XEdnP7s1A3rs_1b38X9zgQAClSAAAiYIiVUsDiyhmUEDzTYE.png'); }
#installedBuiltInCss .zom-b-happy { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFkTNpDOV_LCK5gwMkOaWfBbjcBmKM_wACxjAAAie1aVSzLTunViVubDYE.png'); }
#installedBuiltInCss .zom-b-shy { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL-_1pMUtzPtOAiL-6Sr41xycEad_1fAACkyAAAiYIiVXJ-Yyhqb4f-TYE.png'); }
#installedBuiltInCss .zom-b-mock { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFj59pDOCOBYW2awAB-zGRc1EyVLSoE6kAAjAvAAIntWlUw8IYnybPaoU2BA.png'); }
#installedBuiltInCss .zom-b-angry { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEFkVRpDOXSkXv2jDFVQwt5zKXw1QajKwAC6DAAAie1aVTQI1Amk9wsFjYE.png'); }
#installedBuiltInCss .zom-b-tongue { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_AFpMUt3eD2MjmQVJotrxJYFDBfdAQAClyAAAiYIiVWNbRkX5dFunjYE.png'); }
#installedBuiltInCss .zom-b-orgasm { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_AABaTFLdw_IpNEU0-NI_Km3iJrql0EAApYgAAImCIlVMwah71h4xWk2BA.png'); }
#installedBuiltInCss .zom-b-cumshot { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL_AJpMUt3tM7xOavcny_L8CUwaVmbQgACmCAAAiYIiVW9movGXbhzGzYE.png'); }
#installedBuiltInCss .zom-b-afterglow { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL-_5pMUtzfR0IbjSl3aR1yAFicrb2KQAClCAAAiYIiVUZiRHlMRIgPjYE.png'); }
#installedBuiltInCss .zom-b-smirk { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL-_xpMUtzquDkV6ckedD3EZ_Ig1N5lAACkiAAAiYIiVW50iw1cX4d8zYE.png'); }
#installedBuiltInCss .zom-b-disgust { background-image: url('https://img.remit.ee/api/file/BQACAgUAAyEGAASHRsPbAAEL-_tpMUtygraI_PgEA5g2Hikif4XhiwACkSAAAiYIiVWjGmZTLvikLDYE.png'); }</style>